/* css 초기 설정 : https://blog.pumpkin-raccoon.com/72(참고 블로그) >> 수정해도 됩니다! */

@import "./css/profile.css";
@import "./css/description.css";
@import "./css/intro.css";
@import "./css/container.css";
@import "./css/header.css";
@import "./css/main.css";
@import "./css/footer.css";
@import "./css/updown.css";
:root {
  --main-color1: #8294c4;
  --main-color2: #acb1d6;
  --main-color3: #dbdfea;
  --main-color4: #ffead2;
  /* 그래프 안 동그라미 색깔 전역변수로 선언 */
  --circle-color: #7353ea;
  --bubble-color: #d0b6e8;
  --bubble-font-color: #694281;

  --header-color1: #62736a;
  --header-color2: #98a191;

  --dot-color: #6c8c71;

  --footer-color: #5f5e5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus {
  border: none;
}

button {
  background-color: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 340px;
}
